//============================================
// サイト幅でセンタリング
//============================================
@mixin center{
	width: $baseWidth;
	margin: 0 auto;
}

@mixin center2{
	width: $baseWidth2;
	margin: 0 auto;
}


//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}


//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

//============================================
// breakpoint
//============================================

@mixin breakpoint1 {
 	@media screen and (max-width: #{$breakpoint1}) {
    @content;
 	}
}

@mixin breakpoint2 {
 	@media screen and (max-width: #{$breakpoint2}) {
    @content;
 	}
}
/*============== SET FONT ================= */
@mixin setFont($fontSize, $color, $fontWeight: null, $fontFamily : null)
{
	color : $color;
	font-size: $fontSize;
	@if $fontWeight != null{
		font-weight :  $fontWeight;
	}
	@if $fontFamily != null{
		font-family: $fontFamily;
	}
}