/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
	.c-footer01{
		text-align: center;
		background: #33c49d;
		padding: 50px 0 55px 0;
		&__infor{
			color: #fff;
			font-size: 1.5rem;
			line-height: 24px;
			padding-top: 25px;
		}
	}
	.c-footer02{
		line-height: 40px;
		text-align: center;
		font-size: 1.2rem;
		color: #fff;
		background: #3c3c3c;
	}
}