/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*header
------------------------------------------------------------*/
.c-headerPC{
	&__MV{
		background: url(/assets/image/common/MV.png);
		background-size: cover;
		height: 800px;
	}
	&__banner{
		padding: 225px 128px 0 0;
		text-align:right;
	}
}