/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container{
	width:100%;
	max-width: 1440px;
	margin: 0 auto;
}