/*------------------------------------------------------------
	index
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-index{
	.p-index01{
		background: url(/assets/image/index/bg01.png) no-repeat;
		background-size: cover;
		height: 708px;
		&__cont{
			margin-top: 100px;
			display: inline-block;
		}
		.c-box{
			float: left;
			width: 465px;
			height:360px;
			background: #fff;
   			border: 10px solid #fff;
   			box-shadow: 0 0 0 1px #c8c8c8 inset;
			&__num{
				text-align: center;
				img{
					margin-top: -40px;
				}
			}
			&__txt01{
				font-size: 3rem;
				line-height: 36px;
				padding-top: 18px;
				text-align: center;
			}
			&__txt02{
				text-align: center;
				font-size: 2.4rem;
				span{
					font-size: 1.6rem;
					color: #f39800;
				}
			}
		}
		&__btn{
			text-align: center;
			a{
				width: 480px;
				line-height: 50px;
				font-size: 1.8rem;
				text-align: center;
				color: #fff;
				background: #ff1e5b;
				display: inline-block;
				border-radius: 30px;
				&:before{
					display: inline-block;
					content: "";
					width: 10px;
					height: 10px;
					border:0;
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;
					-webkit-transform: rotate(45deg);
					   -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					     -o-transform: rotate(45deg);
					        transform: rotate(45deg);
					margin: 0 28px 0 0;
					transition: 0.3s ease-in-out;
				}
				&:hover{
					background: #ff5684;
				}
			}
		}
	}
	.p-index02{
		padding: 120px 0 200px 0;
		&__title{
			text-align: center;
			padding-bottom: 50px;
		}
		&__ttl{
			height:50px;
			font-size: 2rem;
			font-weight: bold;
			text-align: center;
			color: #fff;
			background: #10222b;
			padding-top: 10px;
		}
		&__cont{
			width: 100%;
			border: 1px solid #c8c8c8;
			border-top: none;
			margin-bottom: 40px;
			&--img{
				width: 1070px;
				margin: 30px auto ;
    			display: flex;
				.u-lf{
					padding-right: 80px;
				}
			}
		}
		&__tbl{
			table {
			    width:100%;
			    color: #3c3c3c;
			    font-weight: 500;
			}
			table, th, td {
			    border: 1px solid #dddddd;
			    border-collapse: collapse;
			}
			th, td {
				width: 280px;
			    padding: 10px;
			    text-align: center;
			    font-size: 1.5rem;
			    line-height: 24px;
			    &:nth-child(1){
			    	width: 590px;
			    	padding: 10px 0 10px 30px;
			    	column-count: 2;
    				text-align: left;
			    }
			}
			table tr:nth-child(even) {
			    background-color: #fff;
			}
			table tr:nth-child(odd) {
			   background-color: #f8f8f8;
			}
			table th {
			    background-color: #dddddd;
			}
			.u-red{color: #ff1e5b; }
			.u-strikethrough {
			  	position: relative;
			  	display: inline-block;
				&:before {
				  	position: absolute;
				  	content: "";
				  	left: 0;
				  	top: 50%;
				  	right: 0;
				  	border-top: 1px solid;
				  	border-color: #ff1e5b;
				  	-webkit-transform:rotate(-5deg);
				  	-moz-transform:rotate(-5deg);
				  	-ms-transform:rotate(-5deg);
				  	-o-transform:rotate(-5deg);
				  	transform:rotate(-5deg);
				}
			}
		}

		&__txt{
			padding-top: 24px;
			font-size: 15px;
			display: inline-flex;
			&--greem{
				background: #33c49d;
				color: #fff;
				padding: 4px 15px;
				margin: -5px 13px 0 0;
			}
			&--blue{
				background: #0080ae;
				color: #fff;
				padding: 4px 15px;
				margin: -5px 13px 0 18px;;
			}
		}
	}

	.p-index03{
		background: url(/assets/image/index/bg03.png) no-repeat;
		background-size: cover;
		height: 561px;
		text-align: center;
		color: #fff;
		&__txt01{
			font-size: 3.2rem;
			padding-top: 92px; 
		}
		&__txt02{
			font-size: 6.4rem;
			span{
				font-size: 4.8rem;
			}
		}
		&__txt03{
			font-size: 1.8rem;
			line-height: 27px;
			padding-top: 32px;
		}
		&__grbtn{
			width: 890px;
			margin: 0 auto;
			a{
				width: 425px;
				height: 90px;
				text-align: center;
				color: #fff;
				display: inline-block;
				border: 1px solid #fff;
				border-radius: 30px;
			}

		}
		&__btn01{
			width: 425px;
			float: left;
			
		}
		&__btn02{
			
			
		}
	}
}